# Ignore Node.js modules (installed packages)
node_modules/

# Ignore build and bundle directories
build/
dist/
out/
public/
*.map

# Ignore any generated or compiled files
*.log
*.tmp
*.out
*.zip

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment-specific configuration files (e.g., .env)
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore npm or Yarn lock files
package-lock.json
yarn.lock

# Ignore any files generated
